#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  background: white;
}

h1 {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #f3f3f3;
}
